In [1]:
# 1) W.A.P to access value on index value in the list.

list1 = [1,2,2,4,5,'i']
print("The Value Is :",list1[3])

The Value Is : 4

In [2]:
# 2) W.A.P to access the value after the index value 1.

list2 = [0,1,8,3,4,5,6,'index',0.75]
print("The Values Are :",list2[2:])

The Values Are : [8, 3, 4, 5, 6, 'index', 0.75]

In [3]:
# 3) W.A.P to access the value between 1 to 5.

list3 = [6.5,7.5,8,5,9,'Tops','Google','Python']
print("The Values Are :",list3[1:6])

The Values Are : [7.5, 8, 5, 9, 'Tops']

In [4]:
# 4) W.A.P to access the value till index 5.

list4 = [1,1,2,3,4,5,6,7,8]
print("The Values Are :",list4[:6])

The Values Are : [1, 1, 2, 3, 4, 5]

In [5]:
# 5) W.A.P to update the list using the index value.

list5 = [38,95,88,75,'Captain America']
list5[3]='IronMan'
print("The VAlues Are :",list5)

The VAlues Are : [38, 95, 88, 'IronMan', 'Captain America']

In [6]:
# 6) W.A.P to iterate the list using for loop.
list6 = [1,1,2,3,4,5,6,7,8]
for i in list6:
    print(i)

1
1
2
3
4
5
6
7
8

In [10]:
# 7) W.A.P to insert the value in empty list using for loop and append().

list7 = []
list7.append(12)
list7.append(21.56)
list7.append('Harry Potter')
list7.append(True)
print(list7)

[12, 21.56, 'Harry Potter', True]

In [8]:
# 8) W.A.P to delete the element using del().

list8 = [7,7.5,12,14,18,'Rain']
list8.remove(7.5)
print(list8)

[7, 12, 14, 18, 'Rain']

In [9]:
# 9) W.A.P to sort the list using sort() and sorted().

list9 = [9,8,7,6,5,4,3,2,1,0]
list9.sort()
print(list9)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
# 10) W.A.P to round the value in list using round and for loop.

In [11]:
# 11) W.A.P to convert list into tuple.

list12 = [1,2,2,4,5,'i']
tup1= tuple(list12)
print(tup1)

(1, 2, 2, 4, 5, 'i')

In [12]:
# 12) W.A.P to create tuple with multiple data.
tup2 = (12,'abc',5.78,{1,3,7.5},True,{ 'harry' : 45 },(1,2,3,4))
print(tup2)

(12, 'abc', 5.78, {1, 3, 7.5}, True, {'harry': 45}, (1, 2, 3, 4))

In [13]:
# 13) W.A.P to concate the two tuple into one tuple.

tup3 = (1,2,3,4)
tup4 = (5,6,7,8,9,10)
tupp = tup3 + tup4
print (tupp)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [14]:
# 14) W.A.P to access the value of index value 1st in tuple.

tup5 = (14,16,'BGMI',98,9.76)
tup5 = tup5.index(16)
print(tup5)

1

In [15]:
 # 15) W.A.P to access the value from last in tuple.
    
tup6 = (12,14,13,18,15)
print(tup6[-1])

15

In [16]:
# 16) W.A.P to access the value between index 1st to 5th from a tuple.

tup7 = (21,22,23,24,25,26,27,28)
print(tup7[1:6])

(22, 23, 24, 25, 26)

In [1]:
# 17) W.A.P to Access the alternate value between index 1st to 5th.
tup8 = (21,22,23,24,25,26,27,28)
print(tup8[1:6:2])

(22, 24, 26)

In [11]:
# 18) W.A.P to create the dictionary of having 6 key and value.
dict1 = {'Tony Stark' : 'Iron Man','Steve Rogers' : 'Captain America','Bruce Banner' : 'Hulk','Peter parker':'Spider Man','King of Thunder' : 'Thor','Stanlee':'Marvels'}
print(dict1)

{'Tony Stark': 'Iron Man', 'Steve Rogers': 'Captain America', 'Bruce Banner': 'Hulk', 'Peter parker': 'Spider Man', 'King of Thunder': 'Thor', 'Stanlee': 'Marvels'}