#              Module 3 Assignment

In [43]:
# 1) What is List? How will you reverse a list? 
'''A list is a data structure in Python that is a mutable,
or changeable, ordered sequence of elements. 
Each element or value that is inside of a list is called an item.'''

# How will you reverse a list? 

'''In Python, there is a built-in function called reverse() that is used
to reverse the list. This is a simple and quick way to reverse a list 
that requires little memory. Syntax- list_name. reverse()''' 

list0 = [9,8,7,6,5,4,3,2,1,0]
list0.reverse()
print(list0)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 2) How will you remove last object from a list?

'''We can use slicing to remove the last element from a list.
This can be done using the expression l = l[:-1] , where l is your list.'''

In [42]:
# 3) Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-1]?

list1 = [2, 33, 222, 14,25]
print(list1[-1])

25

In [ ]:
# 4) Differentiate between append () and extend () methods?

'''append() method adds an element to a list,
extend() method concatenates the first list with another list 
(or another iterable).'''

In [41]:
# 5) Write a Python function to get the largest number,smallest num and sum
#    of all from a list.

list2 =[8,4,16,54,2]
print("Smallest Number is :",min(list2))
print("Largest Number is :",max(list2))
print("Sum Of All Number is :",sum(list2))

Smallest Number is : 2
Largest Number is : 54
Sum Of All Number is : 84

In [40]:
# 6) How will you compare two lists?
list3 =[0,1,2,3,4]
list4 =[1,2,3,4,5]

if list3 == list4 :
    print(True)
    
else: 
    print(False)

    # Another Method
    
if list3 is not list4:
    print(True)
    
else:
    print(False)

False
True

In [ ]:
# 7) Write a Python program to count the number of strings where the string
#   length is 2 or more and the first and last character are same from a given
#   list of strings.

In [39]:
# 8) Write a Python program to remove duplicates from a list.

list6 = [10,14,10,13,12,14,16,10,'a','b','a','c','b','d','d']
print(list(dict.fromkeys(list6)))

[10, 14, 13, 12, 16, 'a', 'b', 'c', 'd']

In [38]:
# 9) Write a Python program to check a list is empty or not.

list7 = []
if not list7:
    print("List is empty")
else:
    print("List Have values in it")
                     
        # OR
        
list7 = [2,3,4,5]
if not list7:
    print("List is empty")
else:
    print("List Have values in it :",list7)

List is empty
List Have values in it : [2, 3, 4, 5]

In [37]:
# 10) Write a Python function that takes two lists and returns true if they have
#      at least one common member.

list8 = [12,15,10,18,20]
list9 = [25,28,12,16,30]
for i in list8:
    for x in list9:
        if i==x:
            print(True)

True

In [ ]:
# 11) Write a Python program to generate and print a list of first and last 5
#     elements where the values are square of numbers between 1 and 30.

In [36]:
# 12) Write a Python function that takes a list and returns a new list 
#     with unique elements of the first list.

list11 = [1,3,3,5,1,6,7,7,8,5,14,12,11,12]
Unique_list = []
for i in list11:
    if i not in Unique_list:
        Unique_list.append(i)
print(Unique_list)

[1, 3, 5, 6, 7, 8, 14, 12, 11]

In [35]:
# 13) Write a Python program to convert a list of characters into a string

list12 = ['D','e','v','a','n','g',' ','S','i','r']
string =''.join(list12)
print(string)

Devang Sir

In [34]:
# 14) Write a Python program to select an item randomly from a list.

lst13 = ['Car','Bike','Aeroplane','Chopper','Scooty']
import random
print(random.choice(lst13))

Bike

In [ ]:
# 15) Write a Python program to find the second smallest number in a list.

In [33]:
# 16) Write a Python program to get unique values from a list

lst14 = [2,4,2,4,5,6,7,7,8,"Apple"]
print(list(dict.fromkeys(lst14)))

[2, 4, 5, 6, 7, 8, 'Apple']

In [4]:
# 17) Write a Python program to check whether a list contains a sub list.

lst15 = ['x','y','z',['a','b',2],'car']
for i in lst15:
    if len(i) > 1:
        print ("Sublist Is Present In List")
        break
else:
    print("Sublist is not present in list")

Sublist Is Present In List

In [9]:
# 18) Write a Python program to split a list into different variables.

lst16 = [('Name','Gulam','Language','Python'),('Location','Surat','Place','Tops' )]

var1 , var2 = lst16
print(var1)
print(var2)

('Name', 'Gulam', 'Language', 'Python')
('Location', 'Surat', 'Place', 'Tops')

In [ ]:
# 19) What is tuple? Difference between list and tuple.

'''A tuple is a collection of objects which ordered and immutable.
The differences between tuples and lists are, the tuples cannot be changed 
unlike lists and tuples use parentheses, whereas lists use square brackets.'''

In [55]:
# 20) Write a Python program to create a tuple with different data types.

tup1 = ([1,2],{'Name' : 'Python'},{'a','b','c'},'tuple',1,2,4.5,-4,True)
print(tup1)

([1, 2], {'Name': 'Python'}, {'b', 'a', 'c'}, 'tuple', 1, 2, 4.5, -4, True)

In [6]:
# 21) Write a Python program to create a tuple with numbers.

tup2 = (33,4,55,6,77,8,99)
print(tup2)

(33, 4, 55, 6, 77, 8, 99)

In [22]:
# 22) Write a Python program to convert a tuple to a string.

tup3 = ('S','T','R','I','N','G')
string =''.join(tup3)
print(string)

STRING

In [23]:
# 23) Write a Python program to check whether an element exists within a tuple.

tup4 = ('S',6,'G',7,'R','T')
print('R' in tup4)
print(8 in tup4)

True
False

In [27]:
# 24) Write a Python program to find the length of a tuple.

tup5 = ('S',6,'G',7,'R','T',88)
print(len(tup5))

7

In [32]:
# 25) Write a Python program to convert a list to a tuple.

lst = [33,'g',44,'r','v','t',99]
tup = tuple(lst)
print(tup)

(33, 'g', 44, 'r', 'v', 't', 99)

In [48]:
# 26) Write a Python program to reverse a tuple.

tup6 = ('Gulam','Khan')
tup = reversed(tup6)
print(tuple(tup))

('Khan', 'Gulam')

In [73]:
# 27)  Write a Python program to replace last value of tuples in a list.

In [77]:
# 28) Write a Python program to find the repeated items of a tuple.

tup8 = (1,2,3,4,5,1)
for i in tup8:
    if tup8.count(i) > 1:
        print('REPEATED')
        break
else:
    print('NOT REPEATED')

REPEATED